/* Global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  :root{
    /* Colors */
    --background-color: rgb(8, 23, 45);
    --btn-color: rgb(16, 37, 69);
    --nav-border-color: rgb(5, 16, 60);
    --text-color: rgba(230, 223, 223, 0.681);
    --text-color-offset: rgba(230, 223, 223, 0.499);
    --glow: rgb(98, 212, 246);
    --glow2: rgb(62, 139, 244);
    --glow3: rgb(33, 77, 131);
    
    /* Fonts and Font Sizes */
    --heading-font: "Fredoka One";
    --main-font: "Fredoka One";
    --body-font: "Helvetica";
    --font-size-large: 5rem;
    --font-size-medium: 2rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    font-family: var(--body-font);
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  h1, h2, h3{
    font-family: var(--main-font);
  }
  section{
    padding: 120px;
    display: flex;
    justify-content: center;
  }
  section *{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1{
    font-size: var(--font-size-large);
    color: var(--glow);
    text-align: center;
    margin-bottom: 20px;
  }
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
  h4{
    font-size: var(--font-size-normal);
    color: var(--glow3);
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    text-align: center;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    align-items: center; 
  }

  #message {
    font-size: 18px;
    font-weight: bold;
    color: #ff4d4d;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    max-width: 200px;
    height: 60px;
    font-size: 24px;
    padding: 15px;
    margin: 10px 0;
    border: 3px solid rgb(98, 212, 246);
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
  }

  input[type="text"]:focus {
    border-color: #cc0000;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
  }

  main > section {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

  button {
    background-color: #d9d4d4;
    color: rgb(38, 36, 36);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }

  button:hover {
    background-color: rgb(98, 212, 246);
    transform: scale(1.1);
  }