<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <header>
    <h1>Word Bomb</h1>
    <br />
  </header>
  <body>
    <main>{% block content %}{% endblock %}</main>
    <!-- Reset Modal Defaults to Hidden, Only Displays When Time Runs Out -->
    <div id="reset-modal" class="modal" style="display: none;">
      <div class="modal-content">
          <h2>Game Over</h2>
          <p>Your score is <span id="modal-final-score">.</span>.</p>
          <p>Do you want to continue this game, or start a new game?</p>
          <div class="button-container">
            <button id="new-game">New Game</button>
            <button id="continue-game">Continue Game</button>
          </div>
      </div>
  </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
  </body>
</html>
