<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <header>
    <h1>Word Bomb</h1>
    <br />
  </header>
  <body>
    <main>{% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
  </body>
</html>
