{% extends 'base.html' %} {% block title %} ACS 2930 Word Bomb {% endblock %} {%
block content %}
<h2>[GIF of bomb]</h2>
<h4>[fill in the blank]</h4>

<!-- Display Random Letter and Timer-->
 <h4 id="random-letter">Letter: </h4>
 <h3 id="timer">Time Left: 10s </h3>

<!-- Display score here -->
<p>Score: <span id="score">{{ score }}</span></p>

<!--Message area for word validation feedback -->
<p id="message"></p>

<!-- Form to submit the answer -->
<section class="word-form">
  <form id="word-form">
    <p>
      <label>
        <input type="text" id="word-input" name="fill_in_the_blank" />
      </label>
    </p>
    <p>
      <input type="submit" value="Submit" />
    </p>
  </form>
</section>

{% endblock %}
